--upgrade pip
--upgrade setuptools
torch
torchaudio
transformers
langchain-groq==0.1.6
PyPDF2
sounddevice
scipy
numpy==1.24.1 
sentencepiece
sentence_transformers
uvicorn
fastapi
streamlit
python-multipart
python-dotenv
fastapi
uvicorn
streamlit_option_menu
soundfile
scipy
