torch
distutils
streamlit==1.20.0
torchaudio
transformers
langchain-groq==0.1.6
PyPDF2
sounddevice
scipy
numpy==1.24.1 
sentencepiece
sentence_transformers
uvicorn
fastapi
python-multipart
python-dotenv
fastapi
uvicorn
streamlit_option_menu
soundfile
scipy
